body {
	font-family: arial;
}

header {
	font-size: 20px;
	color: #FFFFFF;
	background-color: #6495ED;
}

.menu-item {
	font-family: sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	background-color: #87CEEB;
}

.art-head {
	font-size: 30px;
}

.art-item {
	color: #006400;
}

.list-item {
	font-weight: lighter;
	font-style: italic;
}